
<div class="header">
<%= content_tag :h1, "Welcome, #{current_user.name}!"  %>
</div>

<%= button_to "Discover Movies", "/discover", method: :get %>

<section class="friends">
  <% if @current_user.friends.empty? %>
    <p> You Currently Have No Friends </p>
  <% else %>
    <% @current_user.friends.each do |friend| %>
      <p><%= friend.name %></p>
    <% end %>
  <% end %>

  <%= form_tag "/friendships", method: :post %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  <%= submit_tag "Add Friend" %>
</section>

<section class="parties">
  <h4>Your Viewing Parties</h4>
  <% @parties.each do |party| %>
    <p><%= party.movie[:title] %>
    <%= party.date %>
    <%= party.start_time %>
    <% if @current_user.id == party.user_id %>
      <p>Hosting</p>
    <% else %>
      <p>Invited</p>
    <% end  %>
  <% end %></p>
</section>
